html {
	background: rgb(253,251,251);
font-family: sirenne-eighteen-mvb, serif;
font-weight: 400;
font-style: normal;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

h1, h2, h3, h4, h5 {
font-family: acumin-pro, sans-serif;
font-weight: 100;
font-style: normal;
}

p {
font-family: kepler-std, serif;
font-weight: 300;
font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
}
.current {
	color: green;
}
.container {
	//min-height: 96vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 8fr;
}
.vertical-text {
	writing-mode: vertical-rl;
	grid-area: 3 / 1 / 3 / 1;
	transform: rotate(180deg);
	font-size: 5em;
	color: #b7b5b5;
}
.vertical-text:before {
	position: absolute;
	content:attr(title);
	color: #f7f7f7;
	opacity: .9;
	margin: -3px 0 0 -3px;
}
nav {
	grid-area: 1 / 1 / 1 / -1;
	font-size: 1.953em;
}
.navigation {
	box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);
	background-color: white;
	padding: 10px;
	margin-bottom: 8px;
	border-top: 10px inset #555b6e;
}
.article {
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5fr;
	box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);
	grid-area: 2 / 1 / -1 / -1;
	background-color: white;
}

.content {
	max-width: 960px;
}
.sidebar {
	align-items: center;
		border-top: 10px inset #89b0ae;
grid-area: 2 / 1 / -1 / 1;
	box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);
	background-color: white;
	padding: 10px;
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr;
}

.main-content {
	margin-left: 8px;
	grid-area: 2 / 2 / -1 / -1;
	box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);
	background-color: white;
	padding: 10px;
	border-top: 10px inset #bee3db;

}

.name {
	justify-self: center;
	align-self: start;
}
